.floater {
  float: left;
  min-height: 250px;
  min-width: 175;
}

img {
  max-width: 100%;
}

p {
  padding: 20px;
  line-height: 30px;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: "Open Sans";
}

.clearfix {
  clear: both;
}

.toggle-button {
  width: 40px;
  height: 40px;
  float: right;
  margin: 10px;
}

.logo {
  max-width: 175px;
  margin: 10px;
}

#toggleAssist,
ul.nav-links {
  display: none;
}

#toggleAssist:checked + ul.nav-links {
  display: block;
}

ul.nav-links {
  list-style: none;
  margin: 0px;
  padding: 20px;
}

.nav-links a {
  text-transform: uppercase;
  font-family: "Open Sans";
  text-decoration: none;
  color: black;
}

input#toggleAssist,
ul.nav-links {
  display: none;
}

/* START SMALL SCREEN VIEW */

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

/* END SMALL SCREEN VIEW */

/* START MEDIUM SCREEN VIEW */

@media (min-width: 550px) {
  .w-md-100 {
    width: 100%;
  }

  .w-md-50 {
    width: 50%;
  }
}

/* END MEDIUM SCREEN VIEW */

/* START LARGE SCREEN VIEW */

@media (min-width: 768px) {
  .w-lg-50 {
    width: 50%;
  }

  .w-lg-100 {
    width: 100%;
  }

  .toggle-button {
    display: none;
  }

  ul.nav-links {
    display: block;
    float: right;
  }

  .nav-links li {
    display: inline-block;
    padding: 10px;
  }
}
