/* landing about page main css */

header {
  max-width: 100%;
  margin: 0px;
}

nav li {
  display: block;
  padding: 16px;
}

.nav-links a {
  text-decoration: none;
  list-style: none;
  font-family: "Permanent Marker", cursive;
  color: white;
}

.nav-links li {
  border-bottom: solid black 12px;
  margin-top: 8px;
  max-width: 110px;
  letter-spacing: 4px;
}

ul.nav-links {
  background-color: #0000ff;
  padding: 12px;
}

.logo {
  max-width: 100px;
  display: center;
}

input#toggleAssist {
  display: none;
}

input#toggleAssist,
ul.nav-links {
  display: none;
}

#toggleAssist:checked + ul.nav-links {
  display: block;
  text-align: left;
}

.toggle-button {
  width: 82px;
  float: right;
  margin: 6px;
  clear: left;
}

body {
  margin: 0px;
}

main {
  width: 100%;
  margin: auto;
}

.main-image {
  max-width: 100%;
  margin-top: 6px;
}

.main-image2 {
  max-width: 100%;
}

.b-text p {
  color: white;
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
}

.b-text h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: blue;
}

.box .c-image {
  padding-bottom: 26px;
}

.d-textfooter h1 {
  font-family: "Permanent Marker", cursive;
  margin-left: 58px;
  text-align: center;
  padding-bottom: 24px;
  letter-spacing: 4px;
  font-size: 24px;
  display: inline;
  color: blue;
}

.d-textfooter button {
  display: block;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  margin-left: 107px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 160px;
  padding: 8px;
}

.box .d-textfooter {
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-icon {
  max-width: 10%;
  display: block;
  margin: auto;
  padding: 6px;
  border: solid 2px;
}

/* contact page mobile view */

.float-hide {
  font-family: "Permanent Marker", cursive;
  text-align: left;
  letter-spacing: 4px;
  color: white;
}

.contact-container h1 {
  font-family: "Permanent Marker", cursive;
  margin: 24px;
  text-align: left;
  letter-spacing: 4px;
  color: white;
  padding-top: 16px;
}

.toggle-button-contact {
  width: 86px;
  float: right;
  margin-right: 16px;
  margin-top: -6px;
}

.contact-container {
  margin-top: 0px;
  background-color: black;
}

.contact-container p {
  color: white;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 12px;
  padding-top: 12px;
  text-decoration: uppercase;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-container {
  padding-right: 16px;
}

.form-container p {
  padding-right: 48px;
}

.form-container input {
  width: 100%;
  padding: 6px;
}

.form-container textarea {
  height: 160px;
  width: 260px;
  margin-left: 16px;
}

.form-container button {
  margin: 16px;
  padding: 8px;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 160px;
}

@media (min-width: 450px) {
  main {
    width: 400px;
  }
}

@media (min-width: 768px) {
  main {
    width: 760px;
    margin-top: 12px;
  }
  /* NAV SWITCH + MAIN GRID MEDIUM SCREEN */

  .grid-container {
    width: 760px;
  }

  .toggle-button {
    width: 140px;
    float: right;
    margin: 6px;
  }

  ul.nav-links {
    display: block;
    float: left;
  }

  .nav-links li {
    display: inline-block;
    padding: 10px;
    border-bottom: none;
  }

  .nav-links a {
    text-decoration: none;
    list-style: none;
    font-family: "Permanent Marker", cursive;
    color: white;
    padding: 19px;
    font-size: 20px;
    margin: none;
    margin: 0px;
  }

  nav.flex {
    flex-direction: row;
    justify-content: center;
  }

  nav ul.nav-links {
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 3;
    text-align: center;
    align-items: center;
    margin: 0px;
    background-color: blue;
  }

  .main-image {
    max-width: 100%;
    margin-top: 40px;
  }

  .b-text h1 {
    font-family: "Permanent Marker", cursive;
    margin: 24px;
    text-align: left;
    letter-spacing: 4px;
    color: blue;
    font-size: 46px;
  }

  .b-text p {
    color: white;
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 26px;
    letter-spacing: 2px;
    font-size: 20px;
  }

  .d-textfooter h1 {
    font-family: "Permanent Marker", cursive;
    margin-left: 134px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 48px;
    display: inline;
    color: blue;
  }

  .social-icon {
    max-width: 8%;
    display: block;
    margin: auto;
    margin-top: 16px;
    padding: 8px;
    border: solid 2px;
  }

  /* Medium View Contact Page */

  .contact-container {
    padding-bottom: 6px;
    background-color: black;
    margin-top: 38px;
    margin-right: 42px;
    margin-left: 42px;
    margin-bottom: 42px;
  }

  .contact-container form {
    margin-left: 50px;
  }

  .toggle-button-contact {
    width: 140px;
    float: right;
    margin: 6px;
  }

  p.black-background {
    width: 406px;
  }

  .contact-container h1 {
    font-family: "Permanent Marker", cursive;
    margin-left: 74px;
    text-align: left;
    font-size: 56px;
    letter-spacing: 4px;
    color: white;
    padding-top: 16px;
  }

  .form-container input {
    width: 64%;
    display: block;
    padding: 8px;
  }

  .form-container textarea {
    height: 160px;
    width: 364px;
    margin-left: 16px;
  }

  .form-container button {
    margin: 16px;
    padding: 8px;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 160px;
    display: block;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1200px;
    margin-top: 12px;
  }
  main {
    width: 1200px;
    margin-top: 12px;
  }

  nav.flex {
    flex-direction: row;
    justify-content: center;
  }

  nav ul.nav-links {
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 3;
    text-align: center;
    align-items: center;
    margin: 0px;
    background-color: blue;
  }

  /* DesktopView */

  .grid-container {
    width: 1200px;

    display: grid;

    grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
    grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3] 1fr [v-line-4];

    grid-gap: 8px;
    height: 100vh;
  }

  .a-img {
    grid-row: 1;
    grid-column: 1/4;
    width: 100%;
  }

  .b-text {
    grid-row: 2;
    grid-column: 1/3;
  }
  .b-text h1 {
    font-family: "Permanent Marker", cursive;
    text-align: left;
    letter-spacing: 4px;
    color: blue;
    font-size: 62px;
  }

  .b-text p {
    color: white;
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 24px;
    letter-spacing: 2px;
    font-size: 16px;
  }

  .c-image {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .main-image2 {
    max-width: 100%;
    margin-top: 138px;
  }

  .d-textfooter {
    grid-row: 3;
    grid-column: 1/3;
  }

  .d-textfooter h1 {
    font-family: "Permanent Marker", cursive;
    margin-left: 28px;
    padding-right: 102px;
    text-align: left;
    letter-spacing: 4px;
    font-size: 48px;
    display: inline;
    color: blue;
  }

  .social-icon {
    grid-row: 3;
    grid-column: 3/4;
  }

  /* contact page desktop view */

  .toggle-button-contact {
    width: 140px;
    float: right;
    margin: 6px;
  }

  .form-container input {
    width: 56%;
    display: block;
    padding: 8px;
  }
}
