/* landing about page main css */

header {
  max-width: 100%;
  margin: 0px;
}

nav li {
  display: block;
  padding: 16px;
}

.nav-links a {
  text-decoration: none;
  list-style: none;
  font-family: "Permanent Marker", cursive;
  color: white;
}

.nav-links li {
  border-bottom: solid black 12px;
  margin-top: 8px;
  max-width: 110px;
  letter-spacing: 4px;
}


ul.nav-links {
  background-color: #0000ff;
  padding: 12px;
}

a:hover {
  color: black;
  transition: 0.5s;
}
button a:hover{
  color:white;
  transition: .5s;
}

a:visited {
  color:black;
}

.logo {
  max-width: 100px;
  display: center;
}

input#toggleAssist {
  display: none;
}

input#toggleAssist,
ul.nav-links {
  display: none;
}

#toggleAssist:checked + ul.nav-links {
  display: block;
  text-align: left;
}

.toggle-button {
  width: 82px;
  float: right;
  margin: 6px;
  clear: left;
}


body {
  margin: 0px;
}
h2{
  text-align:left;
  margin-left:40px;
  margin-right:40px;
  color:white;
  font-family: "Montserrat", sans-serif ;
  text-transform:uppercase;
}
main {
  width: 100%;
  margin: auto;
}

.main-image {
  max-width: 100%;
  margin-top: 6px;
}

.main-image2 {
  max-width: 100%;
}

.main-image-about {
  max-width: 100%;
}

.main-image3 {
  max-width: 100%;
  margin-top: -44px;
}

.b-text p {
  color: white;
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
}

.b-text h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

.box .c-image {
  padding-bottom: 26px;
}

.d-textfooter h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

.d-textfooter p {
  color: white;
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
}

.d-textfooter button {
  display: block;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  margin-left: 107px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 160px;
  padding: 8px;
}

.box .d-textfooter {
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-icon {
  max-width: 10%;
  display: block;
  margin: auto;
  padding: 6px;
  border: solid 2px;
}

/* blog page mobile view */

.main-image-blog {
  max-width: 100%;
}

iframe {
  width: 360px;
  height: 345px;
}

.a-text h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

.b-text-blog {
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
}

.c-text h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

.h-text h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

.d-text {
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.e-text {
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.f-text {
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.g-text {
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
}

.i-text {
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

#learnMore {
  display: block;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  width: 180px;
  padding: 8px;
  margin: auto;
}

.j-text {
  text-align: center;
  padding: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.social-buttons-blog button {
  display: block;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  margin-left: 108px;
  margin-bottom: 32px;
  margin-top: 32px;
  width: 160px;
  padding: 8px;
}

/* about page mobile view */

.b-text-about h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

.b-text-about p {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.d-textfooter-about p {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  line-height: 32px;
  padding: 22px;
  letter-spacing: 2px;
  margin-bottom: 66px;
  text-transform: uppercase;
}

.d-textfooter-about h1 {
  font-family: "Permanent Marker", cursive;
  margin: 16px;
  text-align: center;
  letter-spacing: 4px;
  color: black;
}

.social-buttons button {
  display: block;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  margin-left: 108px;
  margin-bottom: 32px;
  width: 160px;
  padding: 8px;
}

/* contact page mobile view */

.float-hide {
  color: white;
}

.contact-container h1 {
  font-family: "Permanent Marker", cursive;
  margin: 24px;
  text-align: left;
  letter-spacing: 4px;
  color: white;
  padding-top: 16px;
}

.toggle-button-contact {
  width: 86px;
  float: right;
  margin-right: 16px;
  margin-top: -6px;
}

.contact-container {
  margin-top: 0px;
  background-color: black;
}

.contact-container p {
  color: white;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 12px;
  padding-top: 12px;
  text-decoration: uppercase;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-container {
  padding-right: 16px;
}

.form-container p {
  padding-right: 48px;
}

.form-container input {
  width: 100%;
  padding: 6px;
}

.form-container textarea {
  height: 160px;
  width: 260px;
  margin-left: 16px;
}

.form-container button {
  margin: 16px;
  padding: 8px;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 160px;
}

/* Donate Page Mobile View */

.form-container-donate button {
  margin: 16px;
  padding: 8px;
  font-size: 26px;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  border-radius: 14px;
  border: none;
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 144px;
}

.form-container-donate {
  padding-right: 16px;
}

.form-container-donate p {
  padding-right: 48px;
}

.form-container-donate input {
  width: 100%;
  padding: 6px;
}

#stateName {
  width: 100%;
  padding: 6px;
}

#countryName {
  width: 100%;
  padding: 6px;
}

@media (min-width: 450px) {
  main {
    width: 400px;
  }
}

@media (min-width: 768px) {
  main {
    width: 760px;
    margin-top: 12px;
  }
  /* NAV SWITCH + MAIN GRID MEDIUM SCREEN */

  .grid-container {
    width: 760px;
  }

  .toggle-button {
    width: 140px;
    float: right;
    margin: 6px;
  }

  ul.nav-links {
    display: block;
    float: left;
  }

  .nav-links li {
    display: inline-block;
    padding: 10px;
    border-bottom: none;
  }

  .nav-links a {
    text-decoration: none;
    list-style: none;
    font-family: "Permanent Marker", cursive;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    margin: none;
    margin: 0px;
  }

  a:hover {
    color: blue;
    transition: 0.5s;
  }

  nav.flex {
    flex-direction: row;
    justify-content: center;
  }
  nav ul.nav-links {
    flex-direction: row;
    flex-grow: 3;
    align-items: flex-start;
    margin: 0px;
    width: 75%;
    background-color: black;
  }

  .main-image {
    max-width: 100%;
    margin-top: 40px;
  }

  .b-text h1 {
    font-family: "Permanent Marker", cursive;
    margin: 24px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 46px;
  }

  .b-text p {
    color: white;
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 26px;
    letter-spacing: 2px;
    font-size: 20px;
  }

  .d-textfooter button {
    display: block;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 297px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 180px;
    padding: 16px;
  }

  .social-icon {
    max-width: 8%;
    display: block;
    margin: auto;
    margin-top: 16px;
    padding: 8px;
    border: solid 2px;
  }

  /* Medium View About Page */

  .grid-container {
    width: 760px;
  }

  .main-image-about {
    max-width: 100%;
    margin-top: 40px;
  }

  .b-text-about h1 {
    font-family: "Permanent Marker", cursive;
    margin: 24px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 46px;
  }

  .b-text-about p {
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 26px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 66px;
  }

  .d-textfooter-about h1 {
    font-family: "Permanent Marker", cursive;
    margin: 24px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 46px;
  }

  .main-image3 {
    max-width: 100%;
  }

  .d-textfooter-about p {
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 26px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 66px;
  }

  .social-buttons button {
    display: block;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 297px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 180px;
    padding: 16px;
  }

  /* Medium View Blog Page */

  .main-image-blog {
    max-width: 100%;
  }

  iframe {
    width: 750px;
    height: 500px;
    margin-top: 12px;
  }

  .a-text h1 {
    font-family: "Permanent Marker", cursive;
    margin: 16px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 40px;
    margin-top: 42px;
  }

  .b-text-blog {
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    padding: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .c-text h1 {
    font-family: "Permanent Marker", cursive;
    margin: 16px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 40px;
    margin-top: 42px;
  }

  .h-text h1 {
    font-family: "Permanent Marker", cursive;
    margin: 16px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 40px;
    margin-top: 42px;
  }

  .d-text {
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    padding: 22px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .e-text {
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    padding: 22px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .f-text {
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    padding: 22px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .g-text {
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    padding: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .i-text {
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    padding: 22px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .j-text {
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    padding: 22px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .social-buttons-blog button {
    display: block;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 297px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 180px;
    padding: 16px;
  }

  /* Medium View Contact Page */

  .contact-container {
    padding-bottom: 6px;
    background-color: black;
    margin-top: 38px;
    margin-right: 42px;
    margin-left: 42px;
    margin-bottom: 42px;
  }

  .contact-container form {
    margin-left: 50px;
  }

  .toggle-button-contact {
    width: 140px;
    float: right;
    margin: 6px;
  }

  p.black-background {
    width: 406px;
  }

  .contact-container h1 {
    font-family: "Permanent Marker", cursive;
    margin-left: 74px;
    text-align: left;
    font-size: 56px;
    letter-spacing: 4px;
    color: white;
    padding-top: 16px;
  }

  .form-container input {
    width: 64%;
    display: block;
    padding: 8px;
  }

  .form-container textarea {
    height: 160px;
    width: 364px;
    margin-left: 16px;
  }

  .form-container button {
    margin: 16px;
    padding: 8px;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 160px;
    display: block;
  }
  /* Donate Page Mobile View */

  .align-heading h1 {
    margin-left: 0px;
  }

  .form-container-donate input {
    width: 64%;
    display: block;
    padding: 8px;
  }

  #stateName{
    width: 64%;
    display: block;
    padding: 8px;

}

#countryName {
  width: 64%;
    display: block;
    padding: 8px;
}

@media (min-width: 1200px) {
  header {
    width: 1200px;
    margin-top: 12px;
  }
  main {
    width: 1200px;
    margin-top: 12px;
  }

  nav.flex {
    flex-direction: row;
    justify-content: center;
  }

  nav ul.nav-links {
    flex-direction: row;
    flex-grow: 3;
    align-items: flex-start;
    margin: 0px;
    width: 100%;
    background-color: black;
  }

  a:hover {
    text-decoration: underline;
    color: blue;
    transition: 0.5s;
  }

  /* Landing Page DesktopView */

  .toggle-button {
    width: 176px;
    float: right;
    margin-right: -242px;
  }

  .grid-container {
    width: 1200px;

    display: grid;

    grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
    grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3] 1fr [v-line-4];

    grid-gap: 8px;
    height: 100vh;
  }

  .a-img {
    grid-row: 1;
    grid-column: 1/4;
    width: 100%;
  }

  .main-image {
    max-width: 100%;
    margin-top: 80px;
  }

  .b-text {
    grid-row: 2;
    grid-column: 1/3;
  }
  .b-text h1 {
    font-family: "Permanent Marker", cursive;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 62px;
  }

  .b-text p {
    color: white;
    text-align: left;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 24px;
    letter-spacing: 2px;
    font-size: 16px;
  }

  .c-image {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .main-image2 {
    max-width: 100%;
    margin-top: 138px;
  }

  .d-textfooter {
    grid-row: 3;
    grid-column: 1/3;
  }

  .d-textfooter button {
    display: inline;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 130px;
    padding: 16px;
  }

  .social-icon {
    grid-row: 3;
    grid-column: 3/4;
    max-width: 14%;
    display: block;
    margin-top: 30px;
    border: solid 2px;
  }

  .social-buttons button {
    display: inline;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 130px;
    padding: 16px;
  }

  /* About Page Desktop View */

  .grid-container {
    width: 1200px;

    display: grid;

    grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
    grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3] 1fr [v-line-4];

    grid-gap: 8px;
    height: 100vh;
  }

  .a-img-about {
    grid-row: 1;
    grid-column: 1/2;
  }

  .main-image-about {
    max-width: 100%;
    margin-top: 272px;
    margin-left: 52px;
    border: solid blue 6px;
  }

  .b-text-about {
    grid-row: 1;
    grid-column: 2/4;
  }

  .b-text-about h1 {
    font-family: "Permanent Marker", cursive;
    margin-top: 96px;
    margin-left: 146px;
    text-align: right;
    letter-spacing: 4px;
    color: black;
  }

  .b-text-about p {
    color: white;
    text-align: right;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 38px;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 66px;
    margin-left: 48px;
  }

  .d-textfooter-about {
    grid-row: 2;
    grid-column: 1/5;
  }

  .d-textfooter-about h1 {
    font-family: "Permanent Marker", cursive;
    margin-top: -13px;
    margin-left: 56px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    width: 100%;
  }

  .d-textfooter-about p {
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    line-height: 44px;
    padding: 38px;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 66px;
    margin-left: 48px;
  }

  .c-image-about {
    grid-row: 3;
    grid-column: 1/3;
  }

  .main-image3 {
    margin-left: 156px;
    margin-top: -68px;
    max-width: 65%;
    border: blue solid 4px;
  }

  .social-buttons {
    grid-row: 4;
    grid-column: 2/4;
  }

  .social-buttons button {
    display: inline;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    margin-left: 68px;
    padding: 16px;
  }

  #specificP {
    margin-top: -5px;
    margin-left: 155px;
    padding: 32px;
    text-align: left;
  }

  /* Blog Page Desktop View */

  .grid-container {
    width: 1200px;

    display: grid;

    grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
    grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3] 1fr [v-line-4];

    grid-gap: 8px;
    height: 100vh;
  }

  .a-img-blog {
    grid-row: 2;
    grid-column: 1/4;
    margin: auto;
  }

  .a-text {
    grid-row: 1;
    grid-column: 1/2;
    margin-top: 50px;
  }

  .a-text h1 {
    font-family: "Permanent Marker", cursive;
    margin: 16px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 44px;
    margin-top: 101px;
    margin-left: 76px;
  }

  .b-text-blog {
    grid-row: 1;
    grid-column: 2/4;
    margin-top: 50px;
  }

  .c-text {
    grid-row: 3;
    grid-column: 1/2;
  }

  .c-text h1 {
    font-family: "Permanent Marker", cursive;
    margin: 16px;
    text-align: left;
    letter-spacing: 4px;
    color: black;
    font-size: 44px;
    margin-top: 197px;
    margin-left: 176px;
  }

  .d-text {
    grid-row: 3;
    grid-column: 2/4;
    margin-top: 76px;
  }

  .e-text {
    grid-row: 4;
    grid-column: 1/4;
    margin-left: 166px;
  }

  .f-text {
    grid-row: 6;
    grid-column: 1/4;
    margin-left: 166px;
  }

  .g-text {
    grid-row: 7;
    grid-column: 1/4;
    margin-left: 166px;
  }

  .h-text {
    grid-row: 8;
    grid-column: 1/4;
    margin-left: 168px;
  }

  .i-text {
    grid-row: 9;
    grid-column: 1/3;
    margin-left: 168px;
  }

  .j-text {
    grid-row: 10;
    grid-column: 1/4;
    margin-left: 166px;
  }

  .social-buttons-blog {
    grid-row: 11;
    grid-column: 2;
  }

  .social-buttons-blog button {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 90px;
    margin-right: 0px;
  }

  #learnMore {

    display: block;
    font-size: 26px;
    background-color: blue;
    color: white;
    font-family: "Permanent Marker", cursive;
    border-radius: 14px;
    border: none;
    width: 220px;
    padding: 8px;
  
  }

  /* Contact Page Desktop View */

  .toggle-button-contact {
    width: 176px;
    float: right;
    margin-right: -242px;
  }

  .float-hide h1 {
    display: block;
    font-size: 80px;
  }

  .form-container input {
    width: 56%;
    display: block;
    padding: 16px;
  }

  .contact-container {
    padding-bottom: 6px;
    background-color: black;
    margin-right: 42px;
    margin-left: 42px;
    margin-bottom: 12px;
    max-width: 70%;
  }
}
