@import url("colors.css");
@import url("delivery.css");

/* HEADER + NAV */
body {
  margin: 0px;
}

header {
  width: 100%;
}
.logo {
  max-width: 200px;
  margin: 8px;
  margin: 10px;
}
input#toggleAssist {
  display: none;
}
input#toggleAssist,
ul.nav-links {
  display: none;
}

#toggleAssist:checked + ul.nav-links {
  display: block;
}

.toggle-button {
  width: 42px;
  float: right;
  margin: 8px;
}

ul.nav-links {
  list-style: none;
  margin: 0px;
  padding: 22px;
}

.nav-links li {
  padding: 20px;
  border-bottom: solid black 2px;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

/* MAIN + GRID CONTAINER (MOBILE VIEW) */

main {
  width: 100%;
  margin: auto;
}

.grid-container {
  display: grid;

  grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4] 1fr [h-line-5];
  grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3];

  grid-gap: 20px;
  height: 100vh;
}
.juice-image {
  max-width: 100%;
}
.box.a-img {
  display: flex;
  align-items: center;
}
.a-img {
  grid-row: 1/2;
  grid-column: 1/4;
}

.a-img h1 {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-top: -80px;
  margin-left: -42px;
  color: black;
  background-color: lightgray;
  opacity: 78%;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 8px;
}
.box.b-img {
  display: flex;
  align-items: center;
}
.b-img {
  grid-row: 2/3;
  grid-column: 1/4;
}
.b-img h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -62px;
  margin-left: -70px;
  color: black;
  background-color: lightgray;
  opacity: 78%;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 8px;
}

.box.c-img {
  display: flex;
  align-items: center;
}
.c-img {
  grid-row: 3/4;
  grid-column: 1/4;
}

.c-img h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 220px;
  margin-left: -42px;
  color: black;
  background-color: lightgray;
  opacity: 78%;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 8px;
}

.box.d-img {
  display: flex;
  align-items: center;
}

.d-img {
  grid-row: 4/5;
  grid-column: 1/4;
}

.d-img h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 520px;
  margin-left: -42px;
  color: black;
  background-color: lightgray;
  opacity: 78%;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 8px;
}

.footer-logo {
  max-width: 200px;
  margin-top: 190px;
  padding: 20px;
}

/* DELIVERY HTML */

.delivery.a-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.delivery.b-img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.b-img h1 {
  text-align: center;
}
.delivery.c-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.delivery.d-img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.delivery.e-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.delivery.f-img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.delivery.g-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media (min-width: 450px) {
  main {
    width: 400px;
  }
}

@media (min-width: 768px) {
  main {
    width: 760px;
    margin-top: 12px;
  }
  /* NAV SWITCH + MAIN GRID MEDIUM SCREEN */

  .toggle-button {
    display: none;
  }

  ul.nav-links {
    display: block;
    float: right;
  }

  .nav-links li {
    display: inline-block;
    padding: 10px;
    border-bottom: none;
  }

  .grid-container {
    width: 760px;
  }

  .a-img {
    grid-row: 1;
    grid-column: 1/2;
  }

  .b-img {
    grid-row: 1/3;
    grid-column: 2/4;
  }

  .c-img {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .d-img {
    grid-row: 3/4;
    grid-column: 1/4;
  }
}

@media (min-width: 1200px) {
  main {
    width: 1200px;
    margin-top: 12px;
  }

  .grid-container {
    width: 1120px;
    margin: auto;
  }

  .a-img {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .b-img {
    grid-row: 1/3;
    grid-column: 2/4;
  }

  .c-img {
    grid-row: 3/5;
    grid-column: 1/2;
  }

  .d-img {
    grid-row: 3/5;
    grid-column: 2/4;
  }
}
